# INVOICE DATABASE VARIABLES
DB_INVOICE_ROOT_PASSWORD=
DB_INVOICE_DATABASE=
DB_INVOICE_USER=
DB_INVOICE_PASSWORD=

# INVOICE SERVICE VARIABLES
INVOICE_DB_HOST=
INVOICE_DB_PORT=

# GRAPHQL SERVICE VARIABLES
GRAPHQL_CORS_ORIGIN=
GRAPHQL_WEBSOCKET_PATH=
GRAPHQL_CLIENT_PATH=
GRAPHQL_SERVER_PORT=