.nav {
    z-index: 1;
    position: absolute;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    padding: 0 235px;
    margin-top: 20px;
}
